body {
    margin: 0;
    padding: 0;

    /* Setting total Viewport for grid */
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: 40px repeat(3, 1fr);

    grid-template-areas: 
            "top-bar top-bar top-bar"
            "side-bar information-board code-editor"
            "side-bar information-board code-editor"
            "side-bar information-board code-output";
}



#top-bar {
    grid-area: top-bar;
}

#side-bar {
    grid-area: side-bar;
}

#information-board {
    grid-area: information-board;
}

#code-editor {
    grid-area: code-editor;
}

#code-output {
    grid-area: code-output;
}

/* Setting Up background of parents */
#top-bar,
#side-bar,
#code-editor,
#code-output {
    border: 1px solid rgba(45, 56, 85, 1);
    background-color: rgba(29, 38, 59, 1);
    color: white;
}

/* Top Bar Css */
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.top-bar {
    padding: 10px 5px;
}

/* Side Bar Css */
.side-bar {
    background-color: rgba(29, 38, 59, 1);
    color: white;
}

.side-bar-tab {
    padding: 20px;
}

/* Infromation Board */
.information-board {
    background-color: white;
    color: black;
    position: relative;
}

.information-board-collapse {
    position: absolute;
    top: 5px;
    right: 10px;
}

.information-box {
    height: 93.5vh;
}

/* Code Editor Css */
.code-editor-top-bar {
    border: 1px solid rgba(45, 56, 85, 1);
}

.code-editor-file-tab {
    border: 1px solid rgba(45, 56, 85, 1);
    padding: 5px
}

.code-editor-control-tab {
    padding: 5px
}

.code-editor-text-area > textarea{
    width: 64vw;
    height: 58vh;
    resize: none;
    background-color: rgba(29, 38, 59, 1);
    border: none;
}


/* Code Output Css */
.code-output-top-bar {
    border: 1px solid rgba(45, 56, 85, 1);
    padding: 10px;
}

.code-output-area{
    width: 100%;
    height: 30vh;
    background-color: rgba(29, 38, 59, 1);
}


